lib/flows/flows.json
[
    {
        "id": "ce5ba32f5ac0a2dd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc57c22878a26a01",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80923c8f0435f7a4",
        "type": "telegram bot",
        "botname": "PCS_Hackha",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "549fe63188cc5182",
        "type": "watson-speech-to-text",
        "z": "dc57c22878a26a01",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "e_V905ieOoC1xTNXqa7VTbSe1fvpCtBwXoLHUnsALJbV",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e2160b5a-3505-4f30-b44c-7cb13e96be38",
        "x": 540,
        "y": 500,
        "wires": [
            [
                "562d4fb3e5c46fd1",
                "6a2a4fa2846a5f11"
            ]
        ]
    },
    {
        "id": "890b59e653fe454d",
        "type": "telegram receiver",
        "z": "dc57c22878a26a01",
        "name": "",
        "bot": "80923c8f0435f7a4",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "e2d8a8b462ab2a1b"
            ],
            [
                "e2d8a8b462ab2a1b"
            ]
        ]
    },
    {
        "id": "562d4fb3e5c46fd1",
        "type": "debug",
        "z": "dc57c22878a26a01",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 580,
        "wires": []
    },
    {
        "id": "e2d8a8b462ab2a1b",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "549fe63188cc5182"
            ]
        ]
    },
    {
        "id": "6a2a4fa2846a5f11",
        "type": "watson-assistant-v2",
        "z": "dc57c22878a26a01",
        "name": "Porto Hack",
        "service-endpoint": "",
        "assistant_id": "a5685794-6200-4e70-869d-0554cebf6d0f",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "a8a4ec391483f3bc"
            ]
        ]
    },
    {
        "id": "4c3a98cda6cb1db7",
        "type": "watson-text-to-speech",
        "z": "dc57c22878a26a01",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/mp3",
        "password": "",
        "apikey": "CiulbbkTZw02lqazacObHK8-36hxeNNQ68ys14j_cM9e",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/f0a3ac0b-b167-4b51-9ec1-c95364422fa3",
        "x": 1120,
        "y": 500,
        "wires": [
            [
                "1ca90db50ebc187c"
            ]
        ]
    },
    {
        "id": "d7b4d541df8e4a51",
        "type": "play audio",
        "z": "dc57c22878a26a01",
        "name": "",
        "voice": "",
        "x": 1650,
        "y": 540,
        "wires": []
    },
    {
        "id": "1ca90db50ebc187c",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "speech",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 580,
        "wires": [
            [
                "10f9dee14dc109c0"
            ]
        ]
    },
    {
        "id": "a8a4ec391483f3bc",
        "type": "function",
        "z": "dc57c22878a26a01",
        "name": "",
        "func": "if(msg.payload.output.intents[0].intent == \"Prontidao\") {\n    msg.payload = \"Maravilha, navio Polônia, o terminal já foi avisado da sua chegada. A Maré está alta, a temperatura no canal está em 17 graus e a humidade relativa do ar está em 3 porcento, cuidado, visibilidade horizontal em aproximadamente 3 quilômetros.\"\n    msg.payload.type = \"voice\",\n    msg.payload.chatId = 1354493990\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 500,
        "wires": [
            [
                "4c3a98cda6cb1db7"
            ]
        ]
    },
    {
        "id": "10f9dee14dc109c0",
        "type": "telegram sender",
        "z": "dc57c22878a26a01",
        "name": "",
        "bot": "80923c8f0435f7a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1450,
        "y": 460,
        "wires": [
            [
                "f690b090017e717d"
            ]
        ]
    },
    {
        "id": "700714ac4dbb276c",
        "type": "function",
        "z": "dc57c22878a26a01",
        "name": "",
        "func": "msg.payload = {\n    chatId: 1354493990,\n    content: \"iopaaa nasci\",\n    type: \"message\"\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f690b090017e717d",
        "type": "debug",
        "z": "dc57c22878a26a01",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1670,
        "y": 340,
        "wires": []
    },
    {
        "id": "a99669f6e787819a",
        "type": "function",
        "z": "dc57c22878a26a01",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 640,
        "wires": [
            []
        ]
    }
]