lib/flows/flows.json
[
    {
        "id": "ce5ba32f5ac0a2dd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc57c22878a26a01",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ed011d71754949c7",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "80923c8f0435f7a4",
        "type": "telegram bot",
        "botname": "PCS_Hackha",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "31ddf043d13a4a7c",
        "type": "websocket-listener",
        "path": "/ws/dashboard-updates",
        "wholemsg": "false"
    },
    {
        "id": "a57477b71ec13242",
        "type": "telegram bot",
        "botname": "DEV_BOT",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "2295068dbcb17ca7",
        "type": "websocket out",
        "z": "ce5ba32f5ac0a2dd",
        "name": "",
        "server": "31ddf043d13a4a7c",
        "client": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "42a28745.bd5d78",
        "type": "http response",
        "z": "ce5ba32f5ac0a2dd",
        "name": "",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "1787be40.e87842",
        "type": "http in",
        "z": "ce5ba32f5ac0a2dd",
        "name": "",
        "url": "/simple",
        "method": "get",
        "swaggerDoc": "",
        "x": 261,
        "y": 200,
        "wires": [
            [
                "1857548e.e7a8ab"
            ]
        ]
    },
    {
        "id": "1857548e.e7a8ab",
        "type": "template",
        "z": "ce5ba32f5ac0a2dd",
        "name": "Simple Web Page",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/dashboard-updates\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "42a28745.bd5d78"
            ]
        ]
    },
    {
        "id": "eccc8bc2.133378",
        "type": "websocket in",
        "z": "ce5ba32f5ac0a2dd",
        "name": "",
        "server": "31ddf043d13a4a7c",
        "client": "",
        "x": 400,
        "y": 320,
        "wires": [
            [
                "9adfff59.652",
                "9adfff59.652"
            ]
        ]
    },
    {
        "id": "9adfff59.652",
        "type": "debug",
        "z": "ce5ba32f5ac0a2dd",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "c537faa811e5d940",
        "type": "link in",
        "z": "ce5ba32f5ac0a2dd",
        "name": "",
        "links": [
            "99ed44b27e01b79f",
            "d86374c0a990128d",
            "2784cf68cb6ca7ea"
        ],
        "x": 425,
        "y": 260,
        "wires": [
            [
                "2295068dbcb17ca7"
            ]
        ]
    },
    {
        "id": "5f4bd88db982e52b",
        "type": "inject",
        "z": "ce5ba32f5ac0a2dd",
        "d": true,
        "name": "Tick every 5 secs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "test",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 380,
        "wires": [
            [
                "3c2a746b87031285"
            ]
        ]
    },
    {
        "id": "3c2a746b87031285",
        "type": "function",
        "z": "ce5ba32f5ac0a2dd",
        "name": "format time nicely",
        "func": "msg.payload = Date(msg.payload).toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 380,
        "wires": [
            [
                "99ed44b27e01b79f"
            ]
        ]
    },
    {
        "id": "99ed44b27e01b79f",
        "type": "link out",
        "z": "ce5ba32f5ac0a2dd",
        "name": "",
        "mode": "link",
        "links": [
            "c537faa811e5d940"
        ],
        "x": 685,
        "y": 380,
        "wires": []
    },
    {
        "id": "549fe63188cc5182",
        "type": "watson-speech-to-text",
        "z": "dc57c22878a26a01",
        "name": "",
        "alternatives": 1,
        "speakerlabels": true,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "qe8yPjy0rx-h919ejHMqvdE_YEqMjt6A9Dj0U0kmLY7O",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/9bdcf41a-dddd-4dba-bd09-802c2fea6ba2",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "6a2a4fa2846a5f11",
                "a10add62324fb078"
            ]
        ]
    },
    {
        "id": "890b59e653fe454d",
        "type": "telegram receiver",
        "z": "dc57c22878a26a01",
        "name": "",
        "bot": "80923c8f0435f7a4",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "e2d8a8b462ab2a1b"
            ],
            [
                "e2d8a8b462ab2a1b"
            ]
        ]
    },
    {
        "id": "e2d8a8b462ab2a1b",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weblink",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "originalMessage.chat.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 500,
        "wires": [
            [
                "549fe63188cc5182"
            ]
        ]
    },
    {
        "id": "6a2a4fa2846a5f11",
        "type": "watson-assistant-v2",
        "z": "dc57c22878a26a01",
        "name": "Porto Hack",
        "service-endpoint": "",
        "assistant_id": "a5685794-6200-4e70-869d-0554cebf6d0f",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 810,
        "y": 500,
        "wires": [
            [
                "a10add62324fb078",
                "6d087fc280f26b78"
            ]
        ]
    },
    {
        "id": "4c3a98cda6cb1db7",
        "type": "watson-text-to-speech",
        "z": "dc57c22878a26a01",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/mp3",
        "password": "",
        "apikey": "gYwkNScBmChApmczfmR241zXNvxejm7l6d2-1I0EIb37",
        "payload-response": false,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/44faba5f-846b-44b5-a2bb-aa7157684781",
        "x": 1780,
        "y": 360,
        "wires": [
            [
                "a99669f6e787819a"
            ]
        ]
    },
    {
        "id": "10f9dee14dc109c0",
        "type": "telegram sender",
        "z": "dc57c22878a26a01",
        "name": "",
        "bot": "80923c8f0435f7a4",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2100,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a99669f6e787819a",
        "type": "function",
        "z": "dc57c22878a26a01",
        "name": "",
        "func": "msg.payload = {\n    content: msg.speech,\n    type: \"voice\",\n    chatId: msg.originalMessage.chat.id\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 360,
        "wires": [
            [
                "10f9dee14dc109c0"
            ]
        ]
    },
    {
        "id": "d86374c0a990128d",
        "type": "link out",
        "z": "dc57c22878a26a01",
        "name": "",
        "mode": "link",
        "links": [
            "c537faa811e5d940"
        ],
        "x": 1485,
        "y": 520,
        "wires": []
    },
    {
        "id": "9088051f37191c3a",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "event",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.eventType",
                "pt": "msg",
                "to": "prontidao_aviso",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.ship",
                "pt": "msg",
                "to": "event.output.entities.0.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 480,
        "wires": [
            [
                "d86374c0a990128d",
                "608c1e461cc9c38c"
            ]
        ]
    },
    {
        "id": "34ff2991d2f31bfd",
        "type": "switch",
        "z": "dc57c22878a26a01",
        "name": "intent",
        "property": "payload.output.entities[entity=\"ModoProntidao\"].value",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "Aviso",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Aceito",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 2,
        "x": 1130,
        "y": 500,
        "wires": [
            [
                "9088051f37191c3a"
            ],
            [
                "80e8a4613c414c4d"
            ]
        ]
    },
    {
        "id": "80e8a4613c414c4d",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "event",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.eventType",
                "pt": "msg",
                "to": "prontidao_aceito",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.ship",
                "pt": "msg",
                "to": "event.output.entities.0.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 520,
        "wires": [
            [
                "d86374c0a990128d",
                "db26be0662094a07"
            ]
        ]
    },
    {
        "id": "608c1e461cc9c38c",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Maravilha, navio\" & $.payload.output.entities[0].value & \", o terminal já foi avisado da sua chegada. A Maré está alta, a temperatura no canal está em 17 graus e a humidade relativa do ar está em 3 porcento, cuidado, visibilidade horizontal em aproximadamente 3 quilômetros.\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 340,
        "wires": [
            [
                "4c3a98cda6cb1db7"
            ]
        ]
    },
    {
        "id": "db26be0662094a07",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Aceite efetuado com sucesso",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 380,
        "wires": [
            [
                "4c3a98cda6cb1db7"
            ]
        ]
    },
    {
        "id": "a10add62324fb078",
        "type": "debug",
        "z": "dc57c22878a26a01",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 600,
        "wires": []
    },
    {
        "id": "b103335752b1e34b",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "event",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.eventType",
                "pt": "msg",
                "to": "swell",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.ship",
                "pt": "msg",
                "to": "event.output.entities.0.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 440,
        "wires": [
            [
                "d86374c0a990128d",
                "fda7c112a76da74b"
            ]
        ]
    },
    {
        "id": "fda7c112a76da74b",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Navio \" & $.payload.output.entities[0].value &\" aguardando por conta do perigo iminente.\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 300,
        "wires": [
            [
                "4c3a98cda6cb1db7"
            ]
        ]
    },
    {
        "id": "155470a65de41366",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "event",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.eventType",
                "pt": "msg",
                "to": "psp_liberada",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.ship",
                "pt": "msg",
                "to": "event.output.entities.0.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 560,
        "wires": [
            [
                "38a2319beb182d7d",
                "d86374c0a990128d"
            ]
        ]
    },
    {
        "id": "38a2319beb182d7d",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ótimo! Sejam bem vindos ao porto de Santos.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1550,
        "y": 420,
        "wires": [
            [
                "4c3a98cda6cb1db7"
            ]
        ]
    },
    {
        "id": "6c7435fdf3dea6ee",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "event",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.eventType",
                "pt": "msg",
                "to": "pratico_a_bordo",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data.ship",
                "pt": "msg",
                "to": "event.output.entities.0.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 600,
        "wires": [
            [
                "d86374c0a990128d",
                "38a2319beb182d7d"
            ]
        ]
    },
    {
        "id": "6d087fc280f26b78",
        "type": "switch",
        "z": "dc57c22878a26a01",
        "name": "intent",
        "property": "msg.payload.output.intents[0].intent",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "Swell",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Prontidao",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PSP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PraticoABordo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Alerta",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 5,
        "x": 990,
        "y": 500,
        "wires": [
            [
                "b103335752b1e34b"
            ],
            [
                "34ff2991d2f31bfd"
            ],
            [
                "155470a65de41366"
            ],
            [
                "6c7435fdf3dea6ee"
            ],
            [
                "9f26b84323a33c2d"
            ]
        ]
    },
    {
        "id": "9f26b84323a33c2d",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "event",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.eventType",
                "pt": "msg",
                "to": "alerta",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 640,
        "wires": [
            [
                "d86374c0a990128d",
                "c210023a543f1774"
            ]
        ]
    },
    {
        "id": "c210023a543f1774",
        "type": "change",
        "z": "dc57c22878a26a01",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Simulação de nível crítico de maré efetuada. Obrigado à todos os participantes do Porto ráque 2022",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1546,
        "y": 459,
        "wires": [
            []
        ]
    },
    {
        "id": "7147fbb80d3be8ca",
        "type": "watson-speech-to-text-v1-query-builder",
        "z": "ed011d71754949c7",
        "name": "add words",
        "apikey": "${WATSON_STT_API_KEY}",
        "stt-custom-mode": "addWords",
        "stt-custom-model-name": "Resolv Julia",
        "stt-base-model": "pt-BR_BroadbandModel",
        "base-model-hidden": "pt-BR_BroadbandModel",
        "stt-custom-model-description": "",
        "stt-custom-id": "2c557678-4616-4e50-86d7-c9c328e1409a",
        "stt-corpus-name": "",
        "stt-word-name": "",
        "stt-allow-overwrite": false,
        "service-endpoint": "${WATSON_STT_ENDPOINT}",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "0ab6c526b490bac9"
            ]
        ]
    },
    {
        "id": "faea29d9bd4e4bb3",
        "type": "inject",
        "z": "ed011d71754949c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"word\":\"Resolv\",\"sounds_like\":[\"resolve\",\"resove\",\"resouve\"]},{\"word\":\"Tech\",\"sounds_like\":[\"etec\",\"tec\",\"téqui\",\"terra\",\"take\"]},{\"word\":\"Risk\",\"sounds_like\":[\"risk\",\"risqui\",\"risco\",\"riski\",\"risc\"]},{\"word\":\"Equatorial\",\"sounds_like\":[\"equatorial\",\"equadorial\",\"equador\",\"equatoria\"]},{\"word\":\"Lookia\",\"sounds_like\":[\"lóquia\",\"loca\",\"lókia\",\"loquia\",\"look ia\"]}]",
        "payloadType": "json",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "7147fbb80d3be8ca"
            ]
        ]
    },
    {
        "id": "0ab6c526b490bac9",
        "type": "debug",
        "z": "ed011d71754949c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 220,
        "wires": []
    },
    {
        "id": "49775816e7bf8457",
        "type": "watson-speech-to-text-v1-query-builder",
        "z": "ed011d71754949c7",
        "name": "train customization",
        "apikey": "${WATSON_STT_API_KEY}",
        "stt-custom-mode": "train",
        "stt-custom-model-name": "Resolv Julia",
        "stt-base-model": "pt-BR_BroadbandModel",
        "base-model-hidden": "pt-BR_BroadbandModel",
        "stt-custom-model-description": "",
        "stt-custom-id": "2c557678-4616-4e50-86d7-c9c328e1409a",
        "stt-corpus-name": "",
        "stt-word-name": "",
        "stt-allow-overwrite": false,
        "service-endpoint": "${WATSON_STT_ENDPOINT}",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "e13b0505ac293c7e"
            ]
        ]
    },
    {
        "id": "76e06ae78fcb8f34",
        "type": "inject",
        "z": "ed011d71754949c7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "49775816e7bf8457"
            ]
        ]
    },
    {
        "id": "e13b0505ac293c7e",
        "type": "debug",
        "z": "ed011d71754949c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "f591c70335efae85",
        "type": "watson-speech-to-text-v1-query-builder",
        "z": "ed011d71754949c7",
        "name": "train customization",
        "apikey": "e_V905ieOoC1xTNXqa7VTbSe1fvpCtBwXoLHUnsALJbV",
        "stt-custom-mode": "createCustomisation",
        "stt-custom-model-name": "Polonia",
        "stt-base-model": "pt-BR_BroadbandModel",
        "base-model-hidden": "pt-BR_BroadbandModel",
        "stt-custom-model-description": "",
        "stt-custom-id": "2c557678-4616-4e50-86d7-c9c328e1409a",
        "stt-corpus-name": "",
        "stt-word-name": "",
        "stt-allow-overwrite": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e2160b5a-3505-4f30-b44c-7cb13e96be38",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "f537597defa91a91"
            ]
        ]
    },
    {
        "id": "ab38750fc6c82d54",
        "type": "inject",
        "z": "ed011d71754949c7",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "f591c70335efae85"
            ]
        ]
    },
    {
        "id": "f537597defa91a91",
        "type": "debug",
        "z": "ed011d71754949c7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    }
]